nav {
    display: flex;
    height: 54px;
    background-color: white;
    align-items: center;
    padding: 0 20px;
    max-width: 1000px;
    margin: auto;
}

nav > div{
    flex: 1;
}
nav input {
    outline: none;
    border: solid 2px gray;
    padding: 3px 10px 3px 26px;
}
nav input::placeholder{
    text-align: left;
}
.search-icon{
    text-align: right;
}

.icons{
    display: flex;
    justify-self: space-evenly;
}

#container {
    display: flex;
    margin: auto;
    width: fit-content;
}

.faccount{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.faccount .img{
    width: 50px;
    height: 50px;
    background-color: red;
}
.faccount > :nth-child(2) {
    flex: 1;
    padding: 4px;
}
.faccount > :nth-child(3) {
    color: blue;
}
.faccount > :nth-child(2) > :nth-child(2) {
    font-size: 14px;
    color: lightgray;
}

#story {
    background-color: white;
    height: 84px;
    padding: 16px 0;
    border: solid black 1px;
    margin-bottom: 24px;
    display: flex;
    overflow-y: hidden;
}
.story-item {
    margin: 0 10px;
}
.story-img {
    width: 66px;
    height: 66px;
    background-color: rgb(150, 79, 244);
    border-radius: 100%;
}
.story-item > :nth-child(2){
    text-align: center;
}
#content {
   
}

section {
    padding: 30px 0;
    max-width: 600px;
    width: 600px;
    flex: 1;
}

aside {
    margin-top: 30px;
    width: 293px;
    background-color:rgb(47, 216, 104);
    padding: 4px;
    margin-left: 10px;
}

aside > :nth-child(2){
    margin: 10px 0;;
    display: flex;
    justify-content: space-between;
}
aside > :nth-child(3){
    margin: 10px 0;;
}
aside > :nth-child(4){
    font-size: 12px;
    color:aliceblue;
}

.post {
    height: 796px;
    background-color: rgb(161, 161, 240);
}

body {
    margin: 0;
    background-color: aliceblue;
}

@media (max-width: 1000px){
    aside{
        display: none;
    }
}

@media (max-width: 640px){
    section {
        max-width: 100%;
    }
}