/* ------- webfont ------- */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* ------- reset ------- */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
img { vertical-align: top; }

/* ------- common ------- */
html { overflow-x: hidden; }
body { font: 14px/1.6 'Noto Sans KR'; color: #666; }
.wrap { width: 980px; margin: 0 auto; position: relative; }
.box { width: 1200px; margin: 0 auto; }
.wrap:after, ul:after, .cl:after {content: ""; clear: both; display: block;}
.blind { position: absolute; left: -9999px; font-size: 0; width: 0; height: 0; overflow: hidden;}
.fl { display: flex; align-items: center; justify-content: center; }
.fl:after { display: none; }

/* ------- header footer ------- */
/* 헤더 1200으로 지정 */
/*header { background: #ffc; width: 1200px; position: absolute; left: calc(50% - 600px); }*/

/* 헤더를 100%, wrap:1200px (추천)*/
header { position: absolute; width: 100%; z-index: 99;}
header .box { background: #fff; height: 74px; }
header .wrap { }
header h1 { padding-top: 19px;}
header ul { position: absolute; right: 0; top: 23px; }
header ul li { float: left; margin: 0 35px; color: #000; font-size: 16px; font-weight: 600; }

/* ------- index bnr------- */

#main { background: url(../images/visual.jpg) no-repeat center/cover; height: 600px; }
#main .ment { padding: 220px 0 0 30px; color: #000;}
#main .ment p { font-size: 40px; line-height: 1.2; font-weight: 600; margin-bottom: 10px; }
#main .ment strong { font-size: 44px; font-weight: 900; }

#cont { padding: 50px 0 30px; }
#cont .wrap {}
#cont .wrap > div { width: 484px; /*img 크기*/ height: 484px; float: left; } /* cont1, cont2 */
#cont .cont1 a { border: 1px solid #ddd; padding: 30px 0 0 30px; width: 236px; /*(484-12)/2*/ height: 236px; box-sizing: border-box; float: left; /*자동으로 block요소가 됨*/ position: relative;
}
#cont .cont1 a:nth-child(1) { margin: 0 12px 12px 0; background: url(../images/pos.jpg) no-repeat right bottom; }
#cont .cont1 a:nth-child(2) { background: url(../images/pad.jpg) no-repeat right bottom; }
#cont .cont1 a:nth-child(3) { background: url(../images/com.jpg) no-repeat right bottom; width: 100%; }

#cont .cont1 a dl dt { font-size: 18px; font-weight: bold; color: #000;}
#cont .cont1 a dl dd { margin-top: 6px;}
#cont .cont1 a img {position: absolute; left: 30px; bottom: 50px;}

#cont .cont2 { margin-left: 12px; background: url(../images/tab.jpg) no-repeat center/cover; }
#cont .cont2 a { padding: 30px 0 0 30px; width: 236px; height: 236px; box-sizing: border-box; color: #fff; background: #687aa2; display: block; position: relative;}
#cont .cont2 a dl dt { font-size: 18px; font-weight: bold; color: #fff;}
#cont .cont2 a dl dd { margin-top: 6px;}
#cont .cont2 a img { position: absolute; left: 30px; bottom: 50px;}

/* ------- index tel ------- */
#cont .tel { margin-top: 12px; }
#cont .tel article { float: left; width: 50%; background: #f9fafc; border: 1px solid #ddd; border-right: none; box-sizing: border-box; padding: 24px 0 24px 20px; }
#cont .tel article:last-child { border-right: 1px soild #ddd;}
#cont .tel article h3 { color: #7c8ca3; font-weight: 700; border-bottom: 1px solid #ddd; display: inline-block; padding: 0 60px 8px 10px;}
#cont .tel article div { margin-top: 8px; padding-left: 10px;}
#cont .tel article a { color: #000; font-size: 22px; font-weight: 900; }
#cont .tel article span { color: #000; font-size: 18px; font-weight: 600; }
#cont .tel article p { display: inline-block; margin-left: 6px; font-weight: bold;}


/* ------- footer ------- */
footer{font-family: '맑은 고딕';}
footer ul{}
footer ul li{float: left; font-weight: bold; margin: 0 12px; line-height: 50px; color: #000;}
footer .link{width: 260px; line-height: 50px; background: #8292a8; color: #fff; text-align: center; position: absolute; right: 0; top: 0; font-weight: bold;}
footer .link span{margin-left: 50px;}
footer .box{border-top: 1px solid #ddd;}
footer .box address{font-style: normal; padding: 10px 0;}




































.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
